bin/

.env
web-src/node_modules
web-src/.gitignore
web-src/.dockerignore
web-src/src/vite-env.d.ts
web-src/public
web-src/src/assets
.idea/
pgdata
/terraform/.terraform
/terraform/jenkins
/terraform/jenkins_home
/terraform/variables.tf
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl